<div class="container">
    <div class="section">
        <div class="column1">
            <h2>Foodie Leonne Chronicles: Quick Dinner Ideas</h2>

            <div class="photo-container">
                <img src="assets/coming soon.jpg">
                <div class="label" (click)="goToComponent('quickdinner')">View More </div>
            </div>


            <p>In the hustle and bustle of our daily lives, finding time to prepare a delicious and satisfying dinner
                can often feel like a daunting task. Whether you're a student juggling assignments, a professional with
                a demanding work schedule, or a parent managing a household, the need for quick and easy dinner options
                is universal.</p>
            <p>In this collection of quick dinner ideas, we've curated a selection of recipes that not only save you
                precious time but also deliver on flavor and nutrition. From one-pan wonders to speedy stir-fries, these
                recipes are designed to streamline your evenings without compromising on the joy of a well-prepared
                meal.

            </p>
            <p>So, roll up your sleeves and gather around the kitchen.
                Trust me; your taste buds are in for a treat!</p>
            <br><br><br>

            <h2>Stay Connected with our Social Media</h2>
            <div class="social-media">

                <a href="https://www.instagram.com/the.foodieleonne" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram social-media"></i>
                </a>


                <a href="https://twitter.com/your_username" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter social-media"></i>
                </a>


                <a href="https://www.facebook.com/your_page" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook social-media"></i>
                </a>

                <a href="https://www.tiktok.com/@your_username" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-tiktok social-media"></i>
                </a>

            </div>



        </div>
        <div class="column2">
            <h2>Foodie Leonne Chronicles: Desserts</h2>
            <p>Come into my kitchen, where the smell of freshly baked desserts brings warmth and joy. This is our sweet
                corner! It's not just about sharing recipes; it's about the comfort of homemade desserts. From grandma's
                cookies to heartwarming pies, let's go on a journey that feels like a sweet hug for your soul. Join me
                in exploring the cozy world of desserts, making each moment a bit sweeter.</p>
            <!-- Content for the second column goes here -->
            <div class="photo-container">
                <img src="assets/coming soon.jpg" width="250px" height="200">
                <div class="label" (click)="goToComponent('Dessert')">View More </div>
            </div>

            <h2>Foodie Leonne Chronicles: Restaurants</h2>
            <p>Join me on a culinary adventure as we explore the diverse world of restaurants. From cozy local gems to
                trendy eateries, I'll be your guide through flavorful experiences and mouthwatering discoveries. Whether
                you're a foodie seeking new spots to try or just curious about the latest dining trends, let's embark on
                a
                journey of taste together. Get ready to savor the flavors and stories that make each restaurant visit a
                delightful experience.</p>
            <div class="photo-container">
                <img src="assets/coming soon.jpg" width="250px" height="200">
                <div class="label" (click)="goToComponent('Resturant')">View More </div>
            </div>
        </div>
    </div>
</div>