<div class="Bio"> 
    <img src="assets/Sierra.jpg" alt="Sierra">
    <div class="bioo">
        <h2>Sierra Parker</h2>
        <p> Join me on a culinary journey through New Orleans, my recipes are the heartbeat of my kitchen.
            Inspired by my grandmother's Mississippi roots, and mother's creole roots. I blend fresh ingredients to
            create dishes that go beyond the ordinary.
            Each plate is a canvas, paying tribute to the diverse influences of New Orleans and the enduring spirit of
            Mississippi.
            Join me in exploring the art of crafting these flavorful wonders, celebrating taste and texture with a nod
            to family heritage and culinary history in the Big Easy.
            .</p> <!----Adding Paragraph text to page -->

    </div>
</div>
<br>
<br>