<div class="footer">
  <div class="section1">
    <h3>Subscribe to Our Newsletter</h3>
    <p>Stay updated with our latest ideas on recipes.</p>

    <div class="subscribe-form">
      <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
        <input type="email" formControlName="email" placeholder="Enter your email" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="footer-links">
      <ul>
        <li><a [routerLink]="['/about']">About Us</a></li>
        <li><a [routerLink]="['/contact']">Contact Us</a></li>

      </ul>
    </div>
  </div>

  <div class="logo">
    <!-- Your logo goes here -->
    <img src="assets/logotan.png" alt="Logo">
  </div>

  <div class="section2">
    <div class="contact-info">
      <p>Email: <a href="mailto:thefoodieleonne@gmail.com">thefoodieleonne@gmail.com</a></p>
    </div>

    <div class="copyright">
      <p>&copy; {{ currentYear }} TheFoodieLeonne. All rights reserved.</p>
    </div>

    <div class="social-media-icons">
      <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="https://tiktok.com"><i class="fab fa-tiktok"></i></a>
      <!-- Add more social media icons as needed -->
    </div>
  </div>

</div>