<div class="footer">
  <div class="section1">
    <h3>Subscribe to Our Newsletter</h3>
    <p>Stay updated with our latest ideas on recipes.</p>

    <div class="subscribe-form">
      <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
        <input type="email" formControlName="email" placeholder="Enter your email" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="footer-links">
      <ul>
        <li><a [routerLink]="['/About']">About Us</a></li>
        <li><a [routerLink]="['/admin']">Admin</a></li>

      </ul>
    </div>
  </div>

  <div class="logo">
    <!-- Your logo goes here -->
    <img src="assets/logotan.png" alt="Logo">
  </div>

  <div class="section2">
    <div class="contact-info">
      <p>Email: <a id="email" href="mailto:thefoodieleonne@gmail.com">thefoodieleonne@gmail.com</a></p>
    </div>

    <div class="copyright">
      <p>&copy; {{ currentYear }} TheFoodieLeonne. All rights reserved.</p>
    </div>

    <div class="social-media">

      <a href="https://www.instagram.com/the.foodieleonne" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram social-media"></i>
      </a>


      <a href="https://twitter.com/your_username" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter social-media"></i>
      </a>


      <a href="https://www.facebook.com/your_page" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook social-media"></i>
      </a>

      <a href="https://www.tiktok.com/@your_username" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-tiktok social-media"></i>
      </a>

  </div>

  </div>

</div>