
  .footer {
    background-color: #987341;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
  }
  
  .logo {
    flex: 1; /* Occupy available space */
    text-align: center;
  }
  
  .logo img {
    max-width: 100%; /* Ensure the logo doesn't exceed its container */
    height: auto;
  }
  
  .section1, .section2 {
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* ... (rest of your styles) */
  
  
  .subscribe-form {
    display: flex;
    gap: 10px;
    color: #543520;
  }
  
  .subscribe-form input {
    flex: 1;
    padding: 10px;
  }
  
  .subscribe-form button {
    background-color: #fff;
    color: #543520;
    padding: 10px;
    cursor: pointer;
  }
  
  .footer-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 15px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }

  .email{
    color: #fff;
  }

 .social-media{
  color: #543520
}
.fa-instagram {
  font-size: 25px;
  padding-right: 8px;
}
.fa-twitter {
  font-size: 25px;
  padding-right: 8px;
}
.fa-facebook {
  font-size: 25px;
  padding-right: 8px;
}
.fa-tiktok {
  font-size: 25px;
  padding-right: 8px; 
}