<div class="footer">
  <div class="subscribe">
    <h3>Subscribe to Our Newsletter</h3>
    <p>Stay updated with our latest ideas on recipes.</p>

    <div class="subscribe-form">
      <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
        <input type="email" formControlName="email" placeholder="Enter your email" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
    <div class="footer-links">
      <ul>
        <li><a [routerLink]="['/about']">About Us</a></li>
        <li><a [routerLink]="['/contact']">Contact Us</a></li>

      </ul>
    </div>
  </div>
  <!-- footer.component.html -->
<div>
  <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
    <input type="email" formControlName="email" placeholder="Enter your email" />
    <button type="submit">Subscribe</button>
  </form>
</div>

</div>