<app-nav></app-nav>
<div class="Recipes-container">

    <section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(0)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Smothered Okra</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(1)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Stewed Hen</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(2)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Eggplant Casserole</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(3)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Mustard Greens</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(4)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Oyster Dressing</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(5)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>BBQ Shrimp</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(6)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>BBQ Ovenbake Ribs</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(7)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Red Beans and Rice</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(8)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Squash Casserole</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(9)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Jamblaya</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(10)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Stuffed Bellpepers</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(11)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Shrimp Creole</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(12)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Gumbo</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(13)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>Stuffed Crabs</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

<section class="hidden">
    <div class="Recipes-Block" onclick="showRecipeInfo(14)">
        <div class="recipes-item">
            <img src="assest/coming soon.jpg" alt="Smothered Okra" width="150px" height="150px">
            <h3>White Beans with Shrimp and Ham</h3>
            <p>Fresh cut okra with shrimp tomotas amd rice.</p>
        </div>
    </div>
</section>

            <!-- Popup and overlay HTML -->
            <div id="popup" class="popup">
                <button>
                <span onclick="closePopup()" class="close-btn">&times;</span>
            </button>
                <div id="popup-content"></div>
            </div>

            <div id="overlay" class="overlay" onclick="closePopup()"></div>
        </div>

